page-log-in {
    ion-content .scroll-content {
        overflow : hidden !important;
    }

    .login-photo{
        width:200px;
        height:200px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-bottom: 1em;
    }   
}
