<!--
  Generated template for the PatientDisplayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Visualización de pacientes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id ="VerPacientes">
    <div align= "center" class="my-img"><ion-img width="90" height="90"  align="center" src="assets/imgs/logo.png"></ion-img></div>
    <ion-list>
      <!--<button ion-item *ngFor="let patient of patients" (click)="onItemTapped()">-->
      <!--<button ion-item *ngFor="let contact of contacts" (click)="openActionSheetController()" class="button">-->
        <p class= "personal-list"><strong>Nombre: </strong>Andres</p>
        <p class= "personal-list"><strong>DNI: </strong>12345678A<strong> &nbsp;&nbsp;&nbsp;Código: </strong>66666</p>
        <p class= "personal-list"><strong>Sexo: </strong>H<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edad: </strong>26</p>
        <p class= "personal-list"><strong>Enfermedades: </strong>Tuberculosis</p>
        <p class= "personal-list"><strong>Alergias: </strong>Frutos secos</p>
        <p class= "personal-list"><strong>Medicamento: </strong>Algidol</p>
      <!--</button>-->
    </ion-list>
    <div align= "center">
        <button ion-button icon-start>
            <ion-icon name ="start"></ion-icon>Agregar</button>
        <button ion-button icon-end>
            <ion-icon name ="start"></ion-icon>Cancelar</button>
    </div>


</ion-content>
